.contenedorLogin{
    height: 500px;
}

.formulario {
    width: 350px;
    height: 250px;
    background-color: rgba(250, 221, 58, 0.973);
    transform: rotate(10deg);
    position: relative;
    top: 81px;
}

.formulario2{
    width: 370px;
    height: 250px;
    position: relative;
    bottom: 167px;
    margin-left: 0px;
   background-color: rgb(53, 53, 51);
   color: white;


}


@media screen and (max-width:767px){
    .formulario2{
        width: 233px;
        height: 254px;
        position: relative;
        bottom: 187px;
       
    }

    .formulario {
        width: 219px;
        height: 270px;
       
    }
}