.portadaGym{
    height: 500px;
    width: 100%;
  
}

.cardGym{
    height: 300px;
    width: 100%;
    background-color: aqua;
    
}

.img-gym{
    height: 100%;
    background-image: url("https://pictures.smartfit.com.br/9871/big/WhatsApp_Image_2021-09-25_at_11.47.31.jpeg?1635797572");
    background-size: cover;
    display: flex;
    align-items: end;
}
        
.planesCard{
 width: 100%;
 height: 80px;
 background-color: rgba(0, 0, 0, 0.781);
 color: white;
}


.divUbicacion{
    position: absolute;
}