.divLogin {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

@media screen and (max-width:767px) {

    .divLogin {
        display: flex;
        justify-content: flex-start;
        width: 70%;
        margin-top: 20px;
        margin-left: 7px;
    }

    .btnLogout{
        position: relative;
        right: 32px;
    }

    .SrGym {
        margin-left: 20px;
    }


    .menuLinks {
        display: flex;
        flex-direction: column;
    }

}