.portadaPlanes{
    height: 400px;
    width: 100%;
   background-image: url("https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3ltJTIwZml0bmVzc3xlbnwwfHwwfHw%3D&w=1000&q=80");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.divPortadaPlanes{
    background-color: rgba(0, 0, 0, 0.685);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.planSmart{
    height: 540px;
    width: 350px;
    background-color: #f7f7f3;
}

.Black{
    height: 540px;
    width: 350px;
    background-color: #020202;
    color: white;
}

.lista{
    list-style: none;
}