.smartDiv{
    height: 550px;
    background-color:#ffffff;
    color: black;
    padding: 10px 10px;
    border-radius: 10px;
}

.smartDiv .smartDiv{
    height: 150px;
    width: 80%;
    background-color: black;
    border-radius: 10px;
    color: white;
}
.smartDiv .smartDiv2{
    height: 150px;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
}

