.App{
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}


.mainSection{
  flex-grow: 1;
}

.LinkMenu{
  color:#FFFB12 ;
  text-decoration: none;
}

.LinkCategorias{
  color:white;
  text-decoration: none;
}

LinkCategorias:hover a{
  color:#FFFB12
}

.titulos{
  color:#FFFB12 ;
}

.ColorYellow{
  color:#FFFB12 ;
}