.App{
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family:sans-serif;
  margin-top: 55px;
}

.Menu{
  position: fixed;
  background-color: #FFFB12;
  width: 100%;
  top: 0;
  z-index: 1;
}

.mainSection{
  flex-grow: 1;
}

.LinkMenu{
  color:#FFFB12 ;
  text-decoration: none;
}

.LinkMenu:hover{
  color:white ;

}

.LinkCategorias{
  color:white;
  text-decoration: none;
}

.LinkCategorias:hover {
  color:#FFFB12
}

.titulos{
  color:#FFFB12 ;
}

.ColorYellow{
  color:#FFFB12 ;
}


.tituloCategorias{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.688);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tituloCategorias:hover{
color: #FFFB12;
}

/* ***********estilos de las imagenes de la card de ejercicio******************** */

.imgCardEjer{
  height: 350px;
}

/* *********footer********* */

.LinksFooter{
  text-decoration: none;
  color: white;
}

.LinksFooter:hover {
  color: #FFFB12;
}

.error{
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  
}

@media screen and (max-width:767px){

  .Menu{
    
    width: 100%;
    
  }

  .LinksFooter{
    margin: 15px 0px 15px 0px;
    font-size: 20px;
    
  }

}

